% !TeX spellcheck = en_US
\documentclass[11pt]{article}
\usepackage{exerciseHead}

%%%%%%%%% INCLUDE SOLUTIONS? %%%%%%%%%% 
\solutiontrue
%%%%%%%%%%%%

\input{Macros.tex} % AFTER the solution true/false macro !!
%%% DO NOT put the macro in the comment to explain
%%% (the show_solutions.sh looks for it!)

%%%% Document %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\begin{document}

\input{exercises/(( exercise ))}

\end{document} 

%%% Local Variables: 
%%% mode: latex
%%% TeX-master: t
%%% End: 
