<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/Probability-Theory/exercises/css/LaTeXML.css" type="text/css" />
    <link rel="stylesheet" href="/Probability-Theory/exercises/css/ltx-article.css" type="text/css" />
    <script defer src="/Probability-Theory/exercises/js/LaTeXML-maybeMathjax.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="ltx_page_main">
      <div class="ltx_page_content">
        {{ article }}
      </div>
    </div>

    <script src="/Probability-Theory/exercises/js/collapsing_proofs.js" type="text/javascript"></script>
  </body>
</html>
